header {
  background-color: #005f73; /* Teal Blue */
  color: #ffffff;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 30px; /* was 50px before */
  margin-bottom: 1rem;
  filter: brightness(98%) saturate(120%);
}

